body {
    background-color: black;
}


#container{
    background-image: url("https://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/s3/field/field_image_main/wave.jpg?itok=YgQDX-Sv");
    width: 50%;
    height: 45vh;
    margin: auto;
    padding: 10px;
    border: 5px;
    border-radius: 20px;
    border-style: groove;
}


#header {
    text-align: center;
    padding: 40px;
    color: aqua;
}


#quotes{
    padding: 50px;
    text-align: center;
    font-weight: 900;
}


#author{
    padding: 10px;
    text-align: center;
}



#button{
    background-color: aqua;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    border-style: groove;
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    align-content: center;
    font-size: medium;
    cursor: pointer;
}



/* @media screen and (min-width: 600px) {
    #container{
        width: 100%;
        height: 100vh;
    }
  } */


  @media screen and (max-width: 580px) {
    #container {
        width: 50%;
        height: 45vh;
    }
  }


  .dark-mode {
    background-color: black;
    color: white;
  }

  